// Variables
$navy: #323299;
$dk-navy: #14143D;
$cream: #fffdd0;
$brown: #614c3a;
$dk-brown: #17120e;
$border: solid 1px $dk-brown;
$leg: polygon(100% 0, 0 0, 50% 100%);
// Extensions
%pug-body {
  position: absolute;
  background-color: $cream;
}
%pug-eye {
  position: absolute;
  width: 8%;
  height: 10%;
  top: 48%;
  background-color: $dk-brown;
  border-radius: 50%;
}
%pug-mouth {
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 38%;
}
%pug-brow {
  position: absolute;
  width: 2%;
  top: 44%;
  border: 2px solid $dk-brown;
  border-radius: 50%;
}
%pug-ear {
  position: absolute;
  width: 18%;
  height: 35%;
  top: 12%;
  background-color: $dk-brown;
}
// Application Set Up
body {
  background-color: $navy;
  p {
    font-family: 'Titan One', cursive;
    font-size: 22px;
    text-transform: uppercase;
    color: $dk-navy;
  }
}
#box {
  position: relative;
  margin: auto;
  margin-top: 200px;
  display: block;
  width: 600px;
  height: 420px;
}
// Pug Head
#pugHead {
  @extend %pug-body;
  width: 38%;
  height: 40%;
  top: 40%;
  left: 18%;
  border-radius: 45% 45% 30% 30%;
  border: $border;
  #nose {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 48%;
    left: 40%;
    background-color: $brown;
    border-radius: 60% 60% 38% 38%;
    #mouthL {
      @extend %pug-mouth;
      left: 22%;
      transform: rotate(60deg);
      border-right: 4px solid $dk-brown;
      border-bottom-right-radius: 60%;
      border-top-right-radius: 80%;
    }
    #mouthR {
      @extend %pug-mouth;
      left: 44%;
      transform: rotate(300deg);
      border-left: 4px solid $dk-brown;
      border-bottom-left-radius: 60%;
      border-top-left-radius: 80%;
    }
  }
  #eyeL {
    @extend %pug-eye;
    left: 28%;
  }
  #browL {
    @extend %pug-brow;
    left: 31%;
    transform: rotate(345deg);
  }
  #eyeR {
    @extend %pug-eye;
    right: 22%;
  }
  #browR {
    @extend %pug-brow;
    right: 25%;
    transform: rotate(15deg);
  }
  #earL {
    @extend %pug-ear;
    left: -3%;
    border-radius: 60% 20% 60% 60%;
  }
  #earR {
    @extend %pug-ear;
    right: -3%;
    border-radius: 20% 60% 60% 60%;
  }
}
// Pug Body
#pugBody {
  @extend %pug-body;
  height: 38%;
  width: 45%;
  top: 70%;
  left: 9%;
  border-radius: 45% 28% 25% 25%;
  border: $border;
  z-index: -1;
  .roll {
    @extend %pug-body;
    width: 3%;
    height: 10%;
    border-radius: 60% 60% 0% 0%;
    border-left: $border;
  }
  #roll-1 {
    left: 18%;
    top: 5%;
  }
  #roll-2 {
    left: 14.7%;
    top: 8%;
  }
  #roll-3 {
    left: 11%;
    top: 12%;
  }
  #tail, #tail-copy {
    @extend %pug-body;
    width: 4%;
    height: 20%;
    bottom: 30%;
  }
  #tail {
    left: -5%;
    transform: rotate(310deg);
    border-top-left-radius: 100%;
    border: $border;
  }
  #tail-copy {
    left: -0.3%;
    border-left: $border;
  }
  .leg {
    @extend %pug-body;
    height: 7%;
    width: 7%;
    background-color: $dk-brown;
    clip-path: $leg;
    -webkit-clip-path: $leg;
  }
  #backRleg {
    bottom: -5%;
    left: 20.5%;
  }
  #backLleg {
    bottom: -5%;
    left: 25%;
  }
  #frontRleg {
    bottom: -5%;
    right: 15%;
  }
  #frontLleg {
    bottom: -3%;
    right: 9%;
    transform: rotate(347deg);
  }
  .leg-copy {
    @extend %pug-body;
    height: 99%;
    width: 90%;
    bottom: 15%;
    right: 6%;
    clip-path: $leg;
    -webkit-clip-path: $leg;
  }
  #leg-cover {
    @extend %pug-body;
    width: 63%;
    height: 8%;
    left: 20%;
    bottom: 0.8%;
  }
}
