$navy: #323299;
$cream: #fffdd0;
$brown: #614c3a;
$dk-brown: #17120e;

%pug-body {
  position: absolute;
  background-color: $cream;
}
%pug-eye {
  position: absolute;
  width: 8%;
  height: 10%;
  top: 48%;
  background-color: $dk-brown;
  border-radius: 50%;
}
%pug-mouth {
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 30%;
}

body {
  background-color: $navy;
}
#box {
  position: relative;
  margin: auto;
  margin-top: 200px;
  display: block;
  width: 600px;
  height: 420px;
}
#pugHead {
  @extend %pug-body;
  width: 38%;
  height: 40%;
  top: 40%;
  left: 18%;
  border-radius: 45% 45% 30% 30%;
  border: 1px solid $dk-brown;
  #nose {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 48%;
    left: 40%;
    background-color: $brown;
    border-radius: 60% 60% 38% 38%;

    #mouthL {
      @extend %pug-mouth;
      left: 22%;
      transform: rotate(60deg);
      border-right: 4px solid $dk-brown;
      border-bottom-right-radius: 60%;
      border-top-right-radius: 80%;
    }
    #mouthR {
      @extend %pug-mouth;
      left: 45%;
      transform: rotate(300deg);
      border-left: 4px solid $dk-brown;
      border-bottom-left-radius: 60%;
      border-top-left-radius: 80%;
    }
  }
  #eyeL {
    @extend %pug-eye;
    left: 28%;
  }
  #browL {
    position: absolute;
    width: 2%;
    top: 44%;
    left: 31%;
    border: 2px solid $dk-brown;
    transform: rotate(345deg);
    border-radius: 50%;
  }
  #eyeR {
    @extend %pug-eye;
    right: 22%;
  }
  #browR {
    position: absolute;
    width: 2%;
    top: 44%;
    right: 25%;
    border: 2px solid $dk-brown;
    transform: rotate(15deg);
    border-radius: 50%;
  }

}
#pugBody {
  @extend %pug-body;
  height: 40%;
  width: 55%;
  top: 70%;
  left: 0%;
  border-radius: 45% 25% 25% 25%;
  border: 1px solid $dk-brown;
  z-index: -1;
}
