#pugHead, #pugBody, #pugBody .roll, #pugBody #tail, #pugBody #tail-copy, #pugBody .leg, #pugBody .leg-copy, #pugBody #leg-cover {
  position: absolute;
  background-color: #fffdd0; }

#pugHead #eyeL, #pugHead #eyeR {
  position: absolute;
  width: 8%;
  height: 10%;
  top: 48%;
  background-color: #17120e;
  border-radius: 50%; }

#pugHead #nose #mouthL, #pugHead #nose #mouthR {
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 38%; }

#pugHead #browL, #pugHead #browR {
  position: absolute;
  width: 2%;
  top: 44%;
  border: 2px solid #17120e;
  border-radius: 50%; }

#pugHead #earL, #pugHead #earR {
  position: absolute;
  width: 18%;
  height: 35%;
  top: 12%;
  background-color: #17120e; }

body {
  background-color: #323299; }
  body p {
    font-family: 'Titan One', cursive;
    font-size: 22px;
    text-transform: uppercase;
    color: #14143D; }

#box {
  position: relative;
  margin: auto;
  margin-top: 100px;
  display: block;
  width: 600px;
  height: 420px; }

#pugHead {
  width: 38%;
  height: 40%;
  top: 40%;
  left: 18%;
  border-radius: 45% 45% 30% 30%;
  border: solid 1px #17120e; }
  #pugHead #nose {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 48%;
    left: 40%;
    background-color: #614c3a;
    border-radius: 60% 60% 38% 38%; }
    #pugHead #nose #mouthL {
      left: 22%;
      transform: rotate(60deg);
      border-right: 4px solid #17120e;
      border-bottom-right-radius: 60%;
      border-top-right-radius: 80%; }
    #pugHead #nose #mouthR {
      left: 44%;
      transform: rotate(300deg);
      border-left: 4px solid #17120e;
      border-bottom-left-radius: 60%;
      border-top-left-radius: 80%; }
  #pugHead #eyeL {
    left: 28%; }
  #pugHead #browL {
    left: 31%;
    transform: rotate(345deg); }
  #pugHead #eyeR {
    right: 22%; }
  #pugHead #browR {
    right: 25%;
    transform: rotate(15deg); }
  #pugHead #earL {
    left: -3%;
    border-radius: 60% 20% 60% 60%; }
  #pugHead #earR {
    right: -3%;
    border-radius: 20% 60% 60% 60%; }

#pugBody {
  height: 38%;
  width: 45%;
  top: 70%;
  left: 9%;
  border-radius: 45% 28% 25% 25%;
  border: solid 1px #17120e;
  z-index: -1; }
  #pugBody .roll {
    width: 3%;
    height: 10%;
    border-radius: 60% 60% 0% 0%;
    border-left: solid 1px #17120e; }
  #pugBody #roll-1 {
    left: 18%;
    top: 5%; }
  #pugBody #roll-2 {
    left: 14.7%;
    top: 8%; }
  #pugBody #roll-3 {
    left: 11%;
    top: 12%; }
  #pugBody #tail, #pugBody #tail-copy {
    width: 4%;
    height: 20%;
    bottom: 30%; }
  #pugBody #tail {
    left: -5%;
    transform: rotate(310deg);
    border-top-left-radius: 100%;
    border: solid 1px #17120e; }
  #pugBody #tail-copy {
    left: -0.3%;
    border-left: solid 1px #17120e; }
  #pugBody .leg {
    height: 7%;
    width: 7%;
    background-color: #17120e;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%); }
  #pugBody #backRleg {
    bottom: -5%;
    left: 20.5%; }
  #pugBody #backLleg {
    bottom: -5%;
    left: 25%; }
  #pugBody #frontRleg {
    bottom: -5%;
    right: 15%; }
  #pugBody #frontLleg {
    bottom: -3%;
    right: 9%;
    transform: rotate(347deg); }
  #pugBody .leg-copy {
    height: 99%;
    width: 90%;
    bottom: 15%;
    right: 6%;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%); }
  #pugBody #leg-cover {
    width: 63%;
    height: 8%;
    left: 20%;
    bottom: 0.8%; }

/*# sourceMappingURL=styles.css.map */
